<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Time (in hours)</ion-label>
      <ion-input type="number" min="0" max="24" [(ngModel)]="time"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      I drank this much bottels: {{bottles}}
    </ion-list-header>

    <ion-range min="1" max="30" [(ngModel)]="bottles">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">30</ion-label>
    </ion-range>
  </ion-list>
  
  <div class="ion-padding">
    <ion-label>Promilles {{result}}</ion-label>
  </div>

  <ion-button (click)="calculate()">Calculate</ion-button>

</ion-content>
